.conteiner{
    margin-top: 4%;
    margin-bottom: 5%;
    display: grid;
    justify-content: baseline;
}


#title{
    display: flex;
    justify-content: center ;
    flex-direction: row;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    text-align: center;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.form-gruop{
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-top: 1%;
    margin-right: auto;
}

#radio{
    margin-left: 4%; 
    margin-right: 9%;
}

.center{
    font-size: 1.3rem;
    font-weight: bolder;
    line-height: 1.2;
    width: 21%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;

}

.botao{
    text-align: center;
    width: 50%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary{
    float: center;
    align-items: center;
    background-color: gray;
    border-color: black ;
}

.btn-primary:hover{
    background-color:rgb(241, 243, 243);
    border-color: black;
    color: black;
}

.left{
    margin-left: 25%;
    float: left;
    width: 25%;
}

.right{
    float: right;
    width: 50%;    
}

#senha{
    width: 90%;
}

#confirmar_senha{
    width: 50%;   
}

#adicionar-imagens{
    margin-top: 3%;
}

#radio{
    display: flex;
    font-size: 1.3vw;
    justify-content: center;

}

.form-check{
    margin-left: 2%;
}

#link{
    text-decoration: none;
    color: black;
}

#profissao{
    width: 90%;
}

#categorias{
    width: 50%;
}

#endereco-div{
    margin-top: 11%;
}

#bairro{
    width: 90%;
}

#numero{
    width: 50%;   
}

#cidade-div{
    margin-top: 6%;
}

#cep{
    width: 90%;
}

#estado{
    width: 50%;
}

.telefone{
    margin-top: 5px;
}

.area{
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-top: 1%;
    margin-right: auto;
}

.body{
    height: 100%;
    margin-top: 8%;
    margin-bottom: 15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;

}

