<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<body>
<div class="conteiner">
    <div id="title">CADASTRO</div>
    
    <form  [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div id="radio" >
            <div class="form-check">
                <input class="form-check-input v-middle " type="radio" name="flexRadioDefault" id="flexRadioDefault1 " checked>
                <label class="form-check-label v-middle " for="flexRadioDefault1">
                Cliente
                </label>
            </div>
            <div class="form-check">
                <a id="link" [routerLink]="'/cadastrar/profissional'">
                    <input class="form-check-input v-middle" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label v-middle" for="flexRadioDefault2">
                    Profissional
                    </label>
                </a>
            </div>
        </div>

        <div class="form-gruop">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
        </div>
        <div class="form-gruop">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" id="email" placeholder="E-mail" formControlName="email">
        </div>
        <div class="form-gruop left">
            <label for="senha">Senha</label>
            <input type="text" class="form-control" id="senha" placeholder="Senha" formControlName="senha">
        </div>
        <div class="form-gruop right">
            <label for="confirmar_senha">Confirmar Senha</label>
            <input type="text" class="form-control" id="confirmar_senha" placeholder="Confirmar Senha" formControlName="confirm_senha">
        </div>
        <!-- Adicionar Imagem  <div class="form-gruop" id="adicionar-imagens" >
            <label for="adicionar imagem" style="margin-top: 2%;">Adicione Imagens</label>
            <i class="material-icons">
                photo
            </i>
            <input type="image" class="form-control" id="adicionar imagem" src="img_submit.gif" alt="Insira a sua Imagem">
            <input type="file" name="arquivos" class="form-control"  accept="image/png, image/jpeg"  multiple/> 
        </div>-->
    </form>

    <div class="botao">
        <button type="submit" class="btn btn-primary">Concluir Cadastro</button>
    </div>

</div>

</body>



