<app-header></app-header>
<div class="sec_1">

  <img class="mapa" src="assets/img/mapa.png" alt="mapa">
  <span class="tex_sec_1">Encontre os melhores profissionais próximo da sua localidade
    de maneira rápida e prática.
    <br>
    <h2 style="font-weight: lighter;"> Clique no botão abaixo e agilize sua busca.</h2>
  </span>

  <a class="button_sec1" mat-stroked-button [routerLink]="'/procurar'">Procurar profissional</a>

</div>

<div class="sec_2">
  <span id="title">Como funciona</span>

  <div class="part_1">
    <img class="cadastro" src="assets/img/cadastro.png">
    <span id="bloco1"><strong>
        <h2>Cadastre sua especialidade</h2>
      </strong>
      <h3>Cadastre-se como profissional e informe seus serviços.</h3>
    </span>
  </div>

  <div class="part_2">
    <img class="horario" src="assets/img/horario.png">
    <span id="bloco2"><strong>
        <h2>Cadastre sua especialidade</h2>
      </strong>
      <h3>Cadastre-se como profissional e informe seus serviços.</h3>
    </span>
  </div>

  <div class="part_3">
    <img class="busca" src="assets/img/busca.png">
    <span id="bloco3"><strong>
        <h2>Cadastre sua especialidade</h2>
      </strong>
      <h3>Cadastre-se como profissional e informe seus serviços.</h3>
    </span>
  </div>

  <div class="part_4">
    <img class="perfil" src="assets/img/perfil.png">
    <span id="bloco4"><strong>
        <h2>Cadastre sua especialidade</h2>
      </strong>
      <h3>Cadastre-se como profissional e informe seus serviços.</h3>
    </span>
  </div>
</div>

<section style="height: 100%; width: 100%;" class="m-auto">
  <div class="sec_3 row">
    <span id="title">Depoimentos</span>
    <div class="bloco">

      <div class="card bg-light mb-3">
        <div class="card-header">Gabriel</div>
        <div class="card-body">
          <h5 class="card-title">
            <i id="icon" class="material-icons v-middle">star</i>
            <i id="icon" class="material-icons v-middle">star</i>
            <i id="icon" class="material-icons v-middle">star</i>
            <i id="icon" class="material-icons v-middle">star</i>
            <i id="icon" class="material-icons v-middle">star</i>
          </h5>
          <p class="card-text">Adorei o sistema, se não fosse por ele não teria encontrodo um arquiteto tão eficiente
            como o Antonio. Nota 10!</p>
        </div>
      </div>



      <div class="card bg-light mb-3 text-center">
        <div class="card-header">Pedro</div>
        <div class="card-body">
          <h5 class="card-title">
            <i id="icon" class="material-icons v-middle">star</i>
            <i id="icon" class="material-icons v-middle">star</i>
            <i id="icon" class="material-icons v-middle">star</i>
            <i id="icon" class="material-icons v-middle">star</i>
            <i id="icon" class="material-icons v-middle">star</i>
          </h5>
          <p class="card-text">Adorei o sistema, se não fosse por ele não teria encontrodo um arquiteto tão eficiente
            como o Antonio. Nota 10!</p>
        </div>
      </div>



      <div class="card bg-light mb-3">
        <div class="card-header">Marcela</div>
        <div class="card-body">
          <h5 class="card-title">
            <i id="icon" class="material-icons v-middle">star</i>
            <i id="icon" class="material-icons v-middle">star</i>
            <i id="icon" class="material-icons v-middle">star</i>
            <i id="icon" class="material-icons v-middle">star</i>
            <i id="icon" class="material-icons v-middle">star</i>
          </h5>
          <p class="card-text">Adorei o sistema, se não fosse por ele não teria encontrodo um arquiteto tão eficiente
            como o Antonio. Nota 10!</p>

        </div>
      </div>

    </div>

  </div>
</section>

<!--<div class="sec_3">
    <ngx-tiny-slider [config]="tinySliderConfig">
      <ng-container class="items">
        <div class="test">
          <img class="icon_woman"src="assets/img/woman.png">
          <h4>Marcela</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>

        <div class="test">
          <img class="icon_woman"src="assets/img/woman.png">
          <h4>Marcela</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>

        <div class="test">
          <img class="icon_woman"src="assets/img/woman.png">
          <h4>Marcela</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>

        <div class="item">
          <a target="_blank" href="google.com">
            <img src="http://www.mattsorger.com/newsletterpics/gsw07_01.jpg">
          </a>
        </div>
  
        <div class="item">
           <a target="_blank" href="google.com">
            <img src="http://www.mattsorger.com/newsletterpics/gsw07_01.jpg">
          </a>
        </div>
  
        <div class="item">
          <a target="_blank" href="google.com">
            <img src="http://www.mattsorger.com/newsletterpics/gsw07_01.jpg">
          </a>
        </div>
  
        <div class="item">
           <a target="_blank" href="google.com">
            <img src="http://www.mattsorger.com/newsletterpics/gsw07_01.jpg">
          </a>
        </div>
  
        <div class="item">
          <a target="_blank" href="google.com">
            <img src="http://www.mattsorger.com/newsletterpics/gsw07_01.jpg">
          </a>
        </div>
      </ng-container>
    </ngx-tiny-slider>

</div>-->

<router-outlet></router-outlet>