<div class="conteiner">
    <div id="title">LOGIN</div>
    
    <form>
        <div class="form-gruop">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome">
        </div>

        <div class="form-gruop">
              <label for="email">E-mail</label>
              <input type="text" class="form-control" id="email" placeholder="E-mail">
        </div>
    </form>
          <a><u> Esqueci minha senha</u></a>

        <div class="botao">
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    

</div>
